@mixin enlaces {
    color: $color-blanco;
    text-decoration: none;
}

/* inicio de Footer*/

footer {
    background-color: $color-azul;
    color: $color-blanco;
    text-align: center;
    padding: 20px;
}

.footer p {
    font-size: 25px;
    color: $color-blanco;
}

footer .redes {
    margin-top: 15px;
    letter-spacing: 10px;

    a {
        @include enlaces;
        font-size: 30px;
    }
}