/* inicio de Nosotros*/ 

.about-section {
    padding: 30px;
    text-align: justify;
    background-color: rgba(131, 128, 128, 0.494);
    color: $color_gris;
}

section {
    height: auto;
    width: 100%;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.card {
    height: auto;
    width: 350px;
    background-color: $color-blanco;
    text-align: center;
    border: 4px solid $color_gris;
}

.card-title {
    color: $color_gris;
    font-size: 30px;
    font-weight: bold;
}

.card-subtitle {
    margin-bottom: 10px;
}

.card-desc {
    padding: 10px;
    font-size: 15px;
}

.button {
    border: none;
    display: inline-block;
    color: $color-blanco;
    background-color: rgba(1, 1, 37, 0.808);
    text-align: center;
    cursor: pointer;
    width: 90%;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;

    &:hover {
        background-color: #555;
    }
}