* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: dinlight, Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5em;
}